

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
  /* Medium devices (desktops, 992px and up) */
@media(max-width: 992px){
    .help{
        position: fixed;
        top: 90%;
        left: 85%;
    }
    .icon{
        font-size:30px;
    }
}
/*TODO fix this so it only has 1 query*/
@media(min-width: 992px){
    .help{
        /*TODO this is a test, change back to 50*/
        left: 80%;
        top: 85%;
        position: absolute;
    }
    .title span{
        color: #070716;
    }
    .icon{
        font-size: 40px;
    }
}
   
@font-face{
    font-family: "Bebas Neue Bold";
    /*src: url("/Windows/Fonts/BebasNeue Bold.otf");*/
    src: url("../fonts/BebasNeue Bold.otf");
    font-weight: normal;
    font-style: normal;
}
body{
    padding: 0px;
    margin: 0px;
}
textarea { resize:none; }
.icon{
    color: #3B70BF;
}
.icon:hover{
    cursor: pointer;
}
#main{
    position: relative;
    background-color: #3B70BF;/*#2E3238;*/
    height: 100vh;
    /*width: 50%;*/
}
#shadow{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: black;
    opacity: 0.6;
}

/*.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/

.title{
    font-family: "Bebas Neue Bold", sans-serif;
    text-align: center;
    z-index: 10;
    position: absolute;
    font-size: 84px;
    left: 51.5%;
    transform: translate(-50%);
    top: 0vh;
    color: #3B70BF
}
.help.active{
    border-radius: 10px;
}
.help{
    font-family: sans-serif; /*'.help'*/
    z-index: 10;
    font-size: 40px;
    transform: translate(-50%, -50%);
    color: #323232;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.help.inactive:hover{
    /*margin-top: -1px;
    width:52px;
    height:52px;*/
    cursor: pointer;

    color: #3B70BF;
}
.help > p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.helpbox{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}
#x{
    position: absolute;
    top: 5%;
    left: 92.5%;
    font-size: 20px;
    z-index: 10;
}
.messenger-form{
    margin: 10%;
}
#messenger-submit{
    background-color: #3B70BF;
}









